form {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    background-color: #e9e9e3;
    margin: 50px auto 50px;
    padding: 34px 44px 57px;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
}
h2{
    text-align: center;
}
.error{
    border-image: linear-gradient(45deg,red,#d993cc) 10;
}

input:focus-visible{
    outline: none;
}
        form .cc {
            background-image: url(../images/images.png),url(../images/images.png);
            background-position: 252px -122px,15px -61px;
            background-size: 120px 375px,120px 392px;
            background-repeat: no-repeat;
            padding-left: 54px;
            box-sizing: border-box;
}
form input {
    background-color: #fff;
    color: #333;
    display: block;
    font-size: 18px;
    height: 42px;
    padding: 0 5px;
    width: 100%;
    border-image: linear-gradient(45deg,#f99bf9,#3bc3bc) 10;
    border-radius: 3px;
    box-shadow: 0 1px 17px rgb(0 0 0 / 11%);
}
form .cc.visa {
    background-position: 255px -165px,14px -61px;
}
form .cc.mastercard {
    background-position: 255px -252px,15px -61px;
}
form .cc.discover {
    background-position: 255px -339px,16px -61px;
}
form .cc.amex {
    background-position: 255px -208px,15px -62px;
}
form .cc.visa.verified {
    background-position: 255px -165px,16px -91px;
}
form .cc.mastercard.verified {
    background-position: 255px -252px,16px -91px;
}
form .cc.discover.verified {
    background-position: 255px -339px,14px -91px;
}
form .cc.amex.verified {
    background-position: 255px -208px,15px -91px;
}
.error + p{
    display: block;
}
p{
    display: none;
    color: red;
}
