html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #d5d5d5;
    overflow: hidden;
    margin: 0px;
}

@media(max-width:767px) {
    .card-bounding.card-wrapper {
        padding: 30px 10px 10px 10px;
    }
    .card-wrapper .card-container input {
        font-size: 18px;
    }
    .card-wrapper .card-type {
        top: 0px;
    }
}

.card-bounding {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    border-radius: 6px;
    font-family: 'Roboto';
    background: #ffffff;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0000001c;
}

.card-container {
    width: 100%;
    padding-right: 40px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin: 0 auto 0px auto;
    border-image: linear-gradient(45deg, #f99bf9, #3bc3bc) 10;
    border-radius: 8px;
    box-shadow: 0 1px 17px rgb(0 0 0 / 11%);
    padding: 4px;
    margin-top: 21px;
}

.card-container input {
    width: 100%;
    letter-spacing: 1px;
    font-size: 30px;
    padding: 15px 15px 15px 25px;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.card-type {
    width: 80px;
    height: 56px;
    background: url("file:///C:/Users/Surbhi/Downloads/js-CreditCardValidator-master/js-CreditCardValidator-master/images/cards.png");
    background-position: 0 -291px;
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    right: 4px;
}

.card-type.invalid-card::before {
    content: 'x';
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    line-height: 56px;
    background: #e5dddd;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.card-type.invalid-card {
    background: none;
    display: flex;
}

.card-type.mastercard {
    background-position: 0 0;
}

.card-type.visa {
    background-position: 0 -115px;
}

.card-type.amex {
    background-position: 0 -57px;
}

.card-type.discover {
    background-position: 0 -174px;
}

.invalid-form {
    border-image: linear-gradient(45deg, red, #d993cc) 10;
}

.error-message {
    color: red;
    min-height: 20px;
    margin: 10px 0px 0px;
}